/* Wizard checkout
******************************************************************************* */

@import "../_bootstrap-extended/include";

$checkout-wizard-header-width: 800px !default;

#wizard-checkout {
  .bs-stepper-header {
    max-inline-size: $checkout-wizard-header-width;
  }
  .raty {
    line-height: normal;
    img {
      @include icon-base(1.25rem);
    }
  }
}

.list-group .btn-close.btn-pinned {
  inset-block-start: 1.5rem;
  inset-inline-end: 1.5rem;
}
